{% extends "base.html" %}

{% block content %}
<h2>Editar Tarefa</h2>
<form method="POST">
    <label for="title">Título:</label>
    <input type="text" name="title" value="{{ tarefa.titulo }}" required>
    
    <label for="description">Descrição:</label>
    <textarea name="description">{{ tarefa.descrição }}</textarea>
    
    <label for="maturity">Vencimento:</label>
    <input type="date" name="maturity" value="{{ tarefa.maturity.strftime('%Y-%m-%d') }}" required>
    
    <label for="priority">Prioridade:</label>
    <select name="priority">
        <option value="Importante" {% if task.priority == 'Importante' %}selected{% endif %}>Importante</option>
        <option value="Média" {% if task.priority == 'Média' %}selected{% endif %}>Média</option>
        <option value="Não Importante" {% if task.priority == 'Não Importante' %}selected{% endif %}>Não Importante</option>
    </select>
    
    <button type="submit">Atualizar Tarefa</button>
</form>
{% endblock %}
